extends ../index.pug

block content
  h1 Enter new password
  if messageResetPassword.length > 0
    p.alert #{messageResetPassword}
  form(action="/auth/password" method="POST")
    .input-field
      input.validate#password(type="password" name="password" required)
      label(for="password") Enter new password
      span.helper-text(data-error="Enter password")
    .input-field
      input.validate#confirm(type="password" name="rpassword" required)
      label(for="confirm") Repeat password
      span.helper-text(data-error="Enter password")      
    input(type="hidden" name="_csrf" value= csrf)
    input(type="hidden" name="id" value= userId)
    input(type="hidden" name="token" value= token)
    button.btn.btn-primary(type="submit") Change password
